# A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

BUSINESS PROBLEM: whether there is any significant difference in the diameter of the cutlets between 2 units or not
    
H0: Average diameters of A is equal to average diameters of B
    
H1: Average diameters of unit A is not equal to average diameters of unit B

In [30]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [31]:
cutlet=pd.read_csv("E:\\\ASSIGNMENT FROM EXCELR\\Hypothesis Testing\\Cutlets.csv")

In [32]:
cutlet.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [33]:
statistic,pvalue=stats.f_oneway(cutlet.iloc[:,0],cutlet.iloc[:,1])
alpha=0.05
print("Two sample T test \np value is "+str(pvalue))
if pvalue<=alpha:
    print("Reject H0")
else:
    print("H0 holds true")

Two sample T test
p value is 0.4722394724599509
H0 holds true

# A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

BUSINESS PROBLEM: whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories or not

H0: There is no difference in average turn around time of all laboratories

H1: There is a difference in average turn around time of all laboratories

In [34]:
labtat=pd.read_csv("E:\\\ASSIGNMENT FROM EXCELR\\Hypothesis Testing\\labTAT.csv")

In [35]:
labtat.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [36]:
statistic,pvalue=stats.f_oneway(labtat.iloc[:,0],labtat.iloc[:,1],labtat.iloc[:,2],labtat.iloc[:,3])
alpha=0.05
print("Anova test \np value is "+str(pvalue))
if pvalue<=alpha:
    print("Reject H0")
else:
    print("H0 holds true")

Anova test
p value is 2.1156708949992414e-57
Reject H0

# Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

BUSINESS PROBLEM:Male-Female buyer ratios are similar or not

H0: Number of Males is equal to Number of Females

H1: Number of Males is not equal to Number of Females

In [37]:
br=pd.read_csv("E:\\\ASSIGNMENT FROM EXCELR\\Hypothesis Testing\\BuyerRatio.csv")

In [38]:
br.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [39]:
br1=br.drop('Observed Values',axis=1)

In [40]:
stats,p,dof,expected=stats.chi2_contingency(br1)
alpha=0.05
print("Chi Square Test \np value is "+str(p))
if p<=alpha:
    print("Reject H0")
else:
    print("H0 holds true")

Chi Square Test
p value is 0.6603094907091882
H0 holds true

# TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

BUSINESS PROBLEM:To check whether the defective %  varies by centre or not

H0: There is no defective %  varies by centre

H1: There is a defective %  varies by centre

In [48]:
cf=pd.read_csv("E:\\\ASSIGNMENT FROM EXCELR\\Hypothesis Testing\\Costomer+OrderForm.csv")

In [49]:
cf.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [50]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
cf["Phillippines"] = label_encoder.fit_transform(cf["Phillippines"])
cf["Indonesia"] = label_encoder.fit_transform(cf["Indonesia"])
cf["Malta"] = label_encoder.fit_transform(cf["Malta"])
cf["India"] = label_encoder.fit_transform(cf["India"])

In [53]:
cf.head()

   Phillippines  Indonesia  Malta  India
0             1          1      0      1
1             1          1      1      0
2             1          0      0      1
3             1          1      1      1
4             1          1      0      1

In [56]:
np.asarray(cf).astype(np.float64)

array([[1., 1., 0., 1.],
       [1., 1., 1., 0.],
       [1., 0., 0., 1.],
       ...,
       [1., 1., 0., 1.],
       [1., 1., 1., 1.],
       [1., 0., 0., 1.]])

In [63]:
import scipy.stats as stats
stats,p,dof,expected=stats.chi2_contingency(cf)

In [64]:
alpha=0.05
print("Chi Square Test \np value is "+str(p))
if p<=alpha:
    print("Reject H0")
else:
    print("H0 holds true")

Chi Square Test
p value is 1.0
H0 holds true

# Fantaloons Sales managers commented that % of males versus females walking in to the store differ based on day of the week. Analyze the data and determine whether there is evidence at 5 % significance level to support this hypothesis.

BUSINESS PROBLEM:To determine whether there is evidence of males versus females walking in to the store differ based on day of the week

H0:Number of males walking in to the store differ based on day of the week
 
H1:Number of females walking in to the store differ based on day of the week

In [65]:
ft=pd.read_csv("E:\\\ASSIGNMENT FROM EXCELR\\Hypothesis Testing\\Faltoons.csv")

In [66]:
ft.head()

  Weekdays Weekend
0     Male  Female
1   Female    Male
2   Female    Male
3     Male  Female
4   Female  Female

In [67]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
ft["Weekdays"] = label_encoder.fit_transform(ft["Weekdays"])
ft["Weekend"] = label_encoder.fit_transform(ft["Weekend"])

In [68]:
population=ft.drop('Weekend',axis=1)
population1=ft.iloc[:,1]

In [69]:
import statsmodels.api as sm
tvalue,p,dof=sm.stats.ttest_ind(population,population1)
alpha=0.05
print("Two proportion test \np value is "+str(p))
if p<=alpha:
    print("Reject H0")
else:
    print("H0 holds true")

Two proportion test
p value is [5.90138794e-05]
Reject H0